.block_createnote{
    border-radius: 20px;
    background-color: #E7E7E7;
    font-family: anonymous;
    color: black;
}

.block_createnote:nth-child(2){
   padding-bottom: 50%;
}


button{
    color: #E7E7E7 ;
    border-radius: 3px;
    padding: 10px;
    border-style: none;
font-family: anonymous;

}
