html {
  background-color: rgba(242, 242, 242, 1);
}

header {
  background-color: rgba(72, 86, 150, 1);
  padding: 10px 0;
  position: relative;
  top: -8px;
  left: -8px;
  width: 100vw;
  margin: 0;
}

@font-face {
  font-family: taurian;
  src: url(MBF_Taurian.ttf);
}

@font-face {
  font-family: anonymous;
  src: url(AnonymousPro-Regular.ttf);
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  gap: 70px;
  align-items: center;
}

#title {
  font-family: taurian;
  color: rgba(255 201 71);
  font-size: 24pt;
  letter-spacing: 3px;
}

#search_bar {
  width: 30%;
  height: 3rem;
  background-color: rgba(231, 231, 231, 1);
  color: rgba(189, 189, 189, 1);
  font-family: anonymous;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 0 16px;
  transition: width 0.5s ease;
}

.header_links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
  color: rgba(231, 231, 231, 1);
}

.button_header {
  display: flex;
  padding: 8px;
  gap: 8px;
  align-items: center;
}

a {
  text-decoration: none;
  font-family: anonymous;
  color: rgba(231, 231, 231, 1);
}