html{
    background-color: rgba(72, 86, 150, 1);
}

@font-face {
    font-family: taurian;
    src: url(MBF_Taurian.ttf);
  }

  @font-face {
    font-family: anonymous;
    src: url(AnonymousPro-Regular.ttf);
  }

  h1{
    font-family: taurian;
    color: rgba(255, 217, 125, 1);
  }

  p{
    font-family: anonymous;
    color: rgba(255, 217, 125, 1);

  }

  #submit_button{
   background-color: #F24C00;
   font-family: taurian;
   color: #E7E7E7;
   border: none;
  font-size: x-large;
  }

  form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    font-family: anonymous;
    color: #E7E7E7;
  }

  div{
    display: flex;
    align-items: center;
    justify-content: center;
margin-top: 20%;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  h4{
    font-family: anonymous;
    color: rgb(190, 190, 190);
  }

  a{
    text-decoration: none;
    color: rgb(190, 190, 190);
  }